# Runs ruff, black in main branch and merge_requests
stages:
  - validate

# Black sub-stage in the validate stage
cq-black:
  stage: validate
  image: pyfound/black:latest_release
  script:
    - black --diff --color --line-length 119 .
    - black --check --verbose --line-length 119 .
  rules:
    - if: '$CI_MERGE_REQUEST_LABELS =~ /skip-validation/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always

# Ruff sub-stage in the validate stage
cq-ruff:
  stage: validate
  image: ghcr.io/astral-sh/ruff:latest
  script:
    - ls .
    - ruff check . --output-format gitlab > gl-code-quality-report.json
  rules:
    - if: '$CI_MERGE_REQUEST_LABELS =~ /skip-validation/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
  artifacts:
    name: "${CI_PROJECT_NAME}_code_quality"
    when: always
    reports:
      codequality: gl-code-quality-report.json
